<div style="width: 1800px;">
    <nz-table class="itinerario-table" #itinerarioTable nzBordered [nzData]="itinerarios" nzTableLayout="fixed" nzPagination="true" [nzPageSize]="5" nzShowSizeChanger="true" nzSize="small">
        <thead>
            <tr>
                <th nzWidth="10%">Área</th>
                <th nzWidth="10%">Estado</th>
                <th nzWidth="10%">Juzgado</th>
                <th nzWidth="10%">Piso</th>
                <th nzWidth="15%">Trámite</th>
                <th nzWidth="15%">Solicita</th>
                <th nzWidth="15%">Fecha Solicitud</th>
                <th nzWidth="15%">Fecha Término</th>
                <th nzWidth="15%">Observaciones</th>
                <th nzWidth="10%">Imagen</th>
                <th nzWidth="10%">PDF</th>
                <th nzWidth="15%">Fecha Completado</th>
                <th nzWidth="15%">Hora Completado</th>
                <th nzWidth="19%">Observaciones Completado</th>
                <th nzWidth="10%">Acciones</th>
            </tr>
        </thead>
        <tbody *ngIf="itinerarios.length > 0">
            <tr *ngFor="let item of itinerarios; trackBy: trackById">
                <!-- Modo lectura -->
                <td *ngIf="!editCache[item.id]?.edit">{{ item.area }}</td>
                <td *ngIf="!editCache[item.id]?.edit"><nz-tag [nzColor]="item.estado ? 'green' : 'red'">
                    {{ item.estado ? 'Completado' : 'Pendiente' }}
                </nz-tag></td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.juzgado }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.piso }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.tramite }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.solicita }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.fechaSolicitud }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.fechaTermino }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.observaciones }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.imagen }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.pdf }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.fechaCompletado }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.horaCompletado }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.obsCompletado }}</td>
                
    
                <!-- Modo edición -->
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.area" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.estado" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.juzgado" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.piso" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.tramite" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.solicita" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="date" nz-input [(ngModel)]="editCache[item.id].data.fechaSolicitud" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="date" nz-input [(ngModel)]="editCache[item.id].data.fechaTermino" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.observaciones" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.imagen" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.pdf" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="date" nz-input [(ngModel)]="editCache[item.id].data.fechaCompletado" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="time" nz-input [(ngModel)]="editCache[item.id].data.horaCompletado" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input [(ngModel)]="editCache[item.id].data.obsCompletado" /></td>
    
                <!-- Acciones -->
                <td>
                    <ng-container *ngIf="!editCache[item.id]?.edit">
                        <!-- Confirmación de eliminación -->
                        <button nz-button nzType="link" nzDanger nz-popconfirm
                            nzPopconfirmTitle="¿Seguro que quieres eliminar?"
                            (nzOnConfirm)="eliminar(item.id)"><nz-icon [nzType]="'delete'"></nz-icon></button>
                        <button nz-button nzType="link" nzInfo (click)="startEdit(item.id)"><nz-icon [nzType]="'edit'"></nz-icon></button>
                    </ng-container>
                    <ng-container *ngIf="editCache[item.id]?.edit">
                        <button nz-button nzType="link" (click)="saveEdit(item.id)"><nz-icon [nzType]="'check'"></nz-icon></button>
                        <button nz-button nzType="link" nzDanger nz-popconfirm nzPopconfirmTitle="¿Seguro que quieres cancelar?"
                            (nzOnConfirm)="cancelEdit(item.id)"><nz-icon [nzType]="'close'"></nz-icon></button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>