<form nz-form [formGroup]="itinerarioForm" (ngSubmit)="submitForm()" class="itinerario-form">
    <!-- Selector de Área -->
    <nz-form-item>
        <nz-form-label nzFor="area" nzRequired nzWidth="200px">Área</nz-form-label>
        <nz-form-control>
            <nz-select formControlName="area">
                <nz-option *ngFor="let area of areas" [nzValue]="area" [nzLabel]="area"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <div *ngIf="selectedArea">
        <nz-row [nzGutter]="16">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="juzgado" nzWidth="200px">Juzgado</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="juzgado" placeholder="Ingrese el juzgado" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="piso" nzWidth="200px">Piso</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="piso" placeholder="Ingrese el piso" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>

        <nz-form-item>
            <nz-form-label nzFor="tramite" nzRequired nzWidth="200px">Trámite</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="tramite" placeholder="Ingrese el trámite" required />
            </nz-form-control>
        </nz-form-item>

        <nz-row [nzGutter]="16">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="solicita" nzWidth="200px">Solicita</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="solicita" placeholder="SIngresar datos si es necesario especificar quien recibe el trámite" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="fechaTermino" nzRequired nzWidth="200px">Fecha de Término</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="fechaTermino" type="date" required />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>

        <!-- <nz-row [nzGutter]="16">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="fechaTermino" nzWidth="200px">Fecha de Término</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="fechaTermino" type="date" required />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="estado" nzWidth="200px">Estado</nz-form-label>
                    <nz-form-control>
                        <nz-switch formControlName="estado"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row> -->

        <nz-form-item>
            <nz-form-label nzFor="observaciones" nzWidth="200px">Observaciones</nz-form-label>
            <nz-form-control>
                <textarea nz-input formControlName="observaciones" placeholder="Escriba las observaciones"></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="fileType" nzWidth="200px">Seleccionar Tipo de Archivo</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="fileType" nzPlaceHolder="Seleccione un tipo">
                    <nz-option nzValue="image" nzLabel="Imagen"></nz-option>
                    <nz-option nzValue="pdf" nzLabel="PDF"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="itinerarioForm.get('fileType')?.value">
            <nz-form-label nzFor="fileInput" nzWidth="200px">Subir Archivo</nz-form-label>
            <nz-form-control>
                <input 
                    type="file" 
                    [accept]="itinerarioForm.get('fileType')?.value === 'image' ? 'image/*' : 'application/pdf'" 
                    (change)="onFileSelectedAtach($event, itinerarioForm.get('fileType')?.value)"
                />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <button class="save-button" nz-button nzBlock="true" [disabled]="isLoading" [nzLoading]="isLoading" ><nz-icon [nzType]="'save'" ></nz-icon></button>
            </nz-form-control>
        </nz-form-item>
    </div>

    <p *ngIf="isLoading">Guardando...</p>
</form>
<div class="header-grid">
    <div class="header-item">
        <a routerLink="/itinerario" class="link">Volver</a>
    </div>
    <div class="header-item">
        <a routerLink="/history-itinerario" class="link">Historial de Itinerario</a>
    </div>
</div>